{
  "info": {
    "version": "2.0.0",
    "title": "Underdog Protocol API"
  },
  "servers": [
    {
      "url": "https://devnet.underdogprotocol.com",
      "description": "Solana Devnet"
    },
    {
      "url": "https://mainnet.underdogprotocol.com",
      "description": "Solana Mainnet"
    }
  ],
  "openapi": "3.0.0",
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Metadata": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 32,
            "description": "Name stored as on-chain metadata",
            "example": "Underdog NFT"
          },
          "symbol": {
            "type": "string",
            "maxLength": 10,
            "description": "Symbol stored as on-chain metadata",
            "example": "UPDG"
          },
          "description": {
            "type": "string",
            "description": "Description stored in the metadata",
            "example": "I minted this NFT with the Underdog API"
          },
          "image": {
            "type": "string",
            "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
            "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
          },
          "animationUrl": {
            "type": "string",
            "description": "URL pointing to the asset's animation.",
            "example": "https://i.imgur.com/mGfz7Ig.mp4"
          },
          "externalUrl": {
            "type": "string",
            "description": "URL pointing to an external URL defining the asset",
            "example": "https://app.underdogprotocol.com"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "Key-value pairs of your NFT attributes",
            "example": {
              "points": 10,
              "name": "LeBron"
            }
          }
        },
        "required": [
          "name",
          "image"
        ]
      },
      "CreateProjectRequest": {
        "type": "object",
        "properties": {
          "body": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 32,
                "description": "Name stored as on-chain metadata",
                "example": "Underdog NFT"
              },
              "symbol": {
                "type": "string",
                "maxLength": 10,
                "description": "Symbol stored as on-chain metadata",
                "example": "UPDG"
              },
              "description": {
                "type": "string",
                "description": "Description stored in the metadata",
                "example": "I minted this NFT with the Underdog API"
              },
              "image": {
                "type": "string",
                "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
                "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
              },
              "semifungible": {
                "type": "boolean",
                "description": "Whether or not the NFTs in this project are semifungible"
              },
              "animationUrl": {
                "type": "string",
                "description": "URL pointing to the asset's animation.",
                "example": "https://i.imgur.com/mGfz7Ig.mp4"
              },
              "externalUrl": {
                "type": "string",
                "description": "URL pointing to an external URL defining the asset",
                "example": "https://app.underdogprotocol.com"
              },
              "attributes": {
                "type": "object",
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    }
                  ]
                },
                "description": "Key-value pairs of your NFT attributes",
                "example": {
                  "points": 10,
                  "name": "LeBron"
                }
              },
              "core": {
                "type": "boolean",
                "description": "Whether or not the NFTs in this project use mpl-core standard"
              },
              "sellerFeeBasisPoints": {
                "type": "integer",
                "description": "Creator royalties in basis points - 100 basis points = 1%",
                "example": 100
              }
            },
            "required": [
              "name",
              "image"
            ]
          }
        },
        "required": [
          "body"
        ]
      },
      "CreateProjectResponse": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "integer"
          },
          "transactionId": {
            "type": "string",
            "format": "uuid"
          },
          "mintAddress": {
            "type": "string",
            "description": "Base-58 encoded string representing an on-chain address",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          }
        },
        "required": [
          "projectId",
          "transactionId"
        ]
      },
      "GetProjectsRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object",
            "properties": {
              "page": {
                "type": "number",
                "nullable": true,
                "default": 1,
                "description": "Page number"
              },
              "limit": {
                "type": "number",
                "nullable": true,
                "maximum": 100,
                "default": 10,
                "description": "Items per page"
              },
              "sortBy": {
                "type": "string"
              },
              "order": {
                "type": "string",
                "enum": [
                  "asc",
                  "desc"
                ]
              }
            }
          }
        },
        "required": [
          "query"
        ]
      },
      "GetProjectsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "mintAddress": {
                  "type": "string",
                  "description": "Base-58 encoded string representing an on-chain address",
                  "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
                },
                "semifungible": {
                  "type": "boolean",
                  "description": "Whether or not the NFTs in this project are semifungible"
                },
                "transferable": {
                  "type": "boolean",
                  "description": "Whether or not the NFTs in this project can be transferred"
                },
                "compressed": {
                  "type": "boolean",
                  "description": "Whether or not the NFTs in this project are compressed"
                },
                "core": {
                  "type": "boolean",
                  "description": "Whether or not the NFTs in this project use mpl-core standard"
                },
                "status": {
                  "type": "string"
                },
                "sellerFeeBasisPoints": {
                  "type": "integer",
                  "description": "Creator royalties in basis points - 100 basis points = 1%",
                  "example": 100
                },
                "name": {
                  "type": "string",
                  "maxLength": 32,
                  "description": "Name stored as on-chain metadata",
                  "example": "Underdog NFT"
                },
                "symbol": {
                  "type": "string",
                  "maxLength": 10,
                  "description": "Symbol stored as on-chain metadata",
                  "example": "UPDG"
                },
                "description": {
                  "type": "string",
                  "description": "Description stored in the metadata",
                  "example": "I minted this NFT with the Underdog API"
                },
                "image": {
                  "type": "string",
                  "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
                  "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
                },
                "animationUrl": {
                  "type": "string",
                  "description": "URL pointing to the asset's animation.",
                  "example": "https://i.imgur.com/mGfz7Ig.mp4"
                },
                "externalUrl": {
                  "type": "string",
                  "description": "URL pointing to an external URL defining the asset",
                  "example": "https://app.underdogprotocol.com"
                },
                "attributes": {
                  "type": "object",
                  "additionalProperties": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ]
                  },
                  "description": "Key-value pairs of your NFT attributes",
                  "example": {
                    "points": 10,
                    "name": "LeBron"
                  }
                }
              },
              "required": [
                "id",
                "mintAddress",
                "status",
                "sellerFeeBasisPoints",
                "name",
                "image"
              ]
            }
          },
          "page": {
            "type": "number",
            "description": "Page number",
            "example": 1
          },
          "limit": {
            "type": "number",
            "description": "Number per page",
            "example": 10
          },
          "totalPages": {
            "type": "number",
            "description": "Total number of pages",
            "example": 1
          },
          "totalResults": {
            "type": "number",
            "description": "Total number of results",
            "example": 1
          }
        },
        "required": [
          "results",
          "page",
          "limit",
          "totalPages",
          "totalResults"
        ]
      },
      "SearchProjectsRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object",
            "properties": {
              "page": {
                "type": "number",
                "nullable": true,
                "default": 1,
                "description": "Page number"
              },
              "limit": {
                "type": "number",
                "nullable": true,
                "maximum": 100,
                "default": 10,
                "description": "Items per page"
              },
              "sortBy": {
                "type": "string"
              },
              "order": {
                "type": "string",
                "enum": [
                  "asc",
                  "desc"
                ]
              },
              "query": {
                "type": "string"
              }
            },
            "required": [
              "query"
            ]
          }
        },
        "required": [
          "query"
        ]
      },
      "SearchProjectsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "mintAddress": {
                  "type": "string",
                  "description": "Base-58 encoded string representing an on-chain address",
                  "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
                },
                "semifungible": {
                  "type": "boolean",
                  "description": "Whether or not the NFTs in this project are semifungible"
                },
                "transferable": {
                  "type": "boolean",
                  "description": "Whether or not the NFTs in this project can be transferred"
                },
                "compressed": {
                  "type": "boolean",
                  "description": "Whether or not the NFTs in this project are compressed"
                },
                "core": {
                  "type": "boolean",
                  "description": "Whether or not the NFTs in this project use mpl-core standard"
                },
                "status": {
                  "type": "string"
                },
                "sellerFeeBasisPoints": {
                  "type": "integer",
                  "description": "Creator royalties in basis points - 100 basis points = 1%",
                  "example": 100
                },
                "name": {
                  "type": "string",
                  "maxLength": 32,
                  "description": "Name stored as on-chain metadata",
                  "example": "Underdog NFT"
                },
                "symbol": {
                  "type": "string",
                  "maxLength": 10,
                  "description": "Symbol stored as on-chain metadata",
                  "example": "UPDG"
                },
                "description": {
                  "type": "string",
                  "description": "Description stored in the metadata",
                  "example": "I minted this NFT with the Underdog API"
                },
                "image": {
                  "type": "string",
                  "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
                  "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
                },
                "animationUrl": {
                  "type": "string",
                  "description": "URL pointing to the asset's animation.",
                  "example": "https://i.imgur.com/mGfz7Ig.mp4"
                },
                "externalUrl": {
                  "type": "string",
                  "description": "URL pointing to an external URL defining the asset",
                  "example": "https://app.underdogprotocol.com"
                },
                "attributes": {
                  "type": "object",
                  "additionalProperties": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ]
                  },
                  "description": "Key-value pairs of your NFT attributes",
                  "example": {
                    "points": 10,
                    "name": "LeBron"
                  }
                }
              },
              "required": [
                "id",
                "mintAddress",
                "status",
                "sellerFeeBasisPoints",
                "name",
                "image"
              ]
            }
          },
          "page": {
            "type": "number",
            "description": "Page number",
            "example": 1
          },
          "limit": {
            "type": "number",
            "description": "Number per page",
            "example": 10
          },
          "totalPages": {
            "type": "number",
            "description": "Total number of pages",
            "example": 1
          },
          "totalResults": {
            "type": "number",
            "description": "Total number of results",
            "example": 1
          }
        },
        "required": [
          "results",
          "page",
          "limit",
          "totalPages",
          "totalResults"
        ]
      },
      "GetProjectRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId"
            ]
          },
          "query": {
            "type": "object",
            "properties": {
              "page": {
                "type": "number",
                "nullable": true,
                "default": 1,
                "description": "Page number"
              },
              "limit": {
                "type": "number",
                "nullable": true,
                "maximum": 100,
                "default": 10,
                "description": "Items per page"
              },
              "sortBy": {
                "type": "string"
              },
              "order": {
                "type": "string",
                "enum": [
                  "asc",
                  "desc"
                ]
              }
            }
          }
        },
        "required": [
          "params",
          "query"
        ]
      },
      "GetProjectResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "mintAddress": {
            "type": "string",
            "description": "Base-58 encoded string representing an on-chain address",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          },
          "semifungible": {
            "type": "boolean",
            "description": "Whether or not the NFTs in this project are semifungible"
          },
          "transferable": {
            "type": "boolean",
            "description": "Whether or not the NFTs in this project can be transferred"
          },
          "compressed": {
            "type": "boolean",
            "description": "Whether or not the NFTs in this project are compressed"
          },
          "core": {
            "type": "boolean",
            "description": "Whether or not the NFTs in this project use mpl-core standard"
          },
          "status": {
            "type": "string"
          },
          "sellerFeeBasisPoints": {
            "type": "integer",
            "description": "Creator royalties in basis points - 100 basis points = 1%",
            "example": 100
          },
          "name": {
            "type": "string",
            "maxLength": 32,
            "description": "Name stored as on-chain metadata",
            "example": "Underdog NFT"
          },
          "symbol": {
            "type": "string",
            "maxLength": 10,
            "description": "Symbol stored as on-chain metadata",
            "example": "UPDG"
          },
          "description": {
            "type": "string",
            "description": "Description stored in the metadata",
            "example": "I minted this NFT with the Underdog API"
          },
          "image": {
            "type": "string",
            "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
            "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
          },
          "animationUrl": {
            "type": "string",
            "description": "URL pointing to the asset's animation.",
            "example": "https://i.imgur.com/mGfz7Ig.mp4"
          },
          "externalUrl": {
            "type": "string",
            "description": "URL pointing to an external URL defining the asset",
            "example": "https://app.underdogprotocol.com"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "Key-value pairs of your NFT attributes",
            "example": {
              "points": 10,
              "name": "LeBron"
            }
          },
          "nfts": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "maxLength": 32,
                      "description": "Name stored as on-chain metadata",
                      "example": "Underdog NFT"
                    },
                    "symbol": {
                      "type": "string",
                      "maxLength": 10,
                      "description": "Symbol stored as on-chain metadata",
                      "example": "UPDG"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description stored in the metadata",
                      "example": "I minted this NFT with the Underdog API"
                    },
                    "image": {
                      "type": "string",
                      "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
                      "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
                    },
                    "animationUrl": {
                      "type": "string",
                      "description": "URL pointing to the asset's animation.",
                      "example": "https://i.imgur.com/mGfz7Ig.mp4"
                    },
                    "externalUrl": {
                      "type": "string",
                      "description": "URL pointing to an external URL defining the asset",
                      "example": "https://app.underdogprotocol.com"
                    },
                    "attributes": {
                      "type": "object",
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ]
                      },
                      "description": "Key-value pairs of your NFT attributes",
                      "example": {
                        "points": 10,
                        "name": "LeBron"
                      }
                    },
                    "id": {
                      "type": "number",
                      "description": "Unique ID for an NFT in a Project"
                    },
                    "projectId": {
                      "type": "number",
                      "description": "The ID of the Project the NFT is part of"
                    },
                    "transferable": {
                      "type": "boolean",
                      "description": "Whether or not the NFT can be transferred based on the Project its a part of"
                    },
                    "compressed": {
                      "type": "boolean",
                      "description": "Whether or not the NFTs in the Project are compressed"
                    },
                    "mintAddress": {
                      "type": "string",
                      "description": "Base-58 encoded string representing an on-chain address",
                      "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
                    },
                    "ownerAddress": {
                      "type": "string",
                      "description": "Wallet address for the NFT's owner",
                      "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
                    },
                    "claimerAddress": {
                      "type": "string",
                      "description": "Wallet address allowed to claim the NFT",
                      "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "image",
                    "id",
                    "mintAddress",
                    "status"
                  ]
                }
              },
              "page": {
                "type": "number",
                "description": "Page number",
                "example": 1
              },
              "limit": {
                "type": "number",
                "description": "Number per page",
                "example": 10
              },
              "totalPages": {
                "type": "number",
                "description": "Total number of pages",
                "example": 1
              },
              "totalResults": {
                "type": "number",
                "description": "Total number of results",
                "example": 1
              }
            },
            "required": [
              "results",
              "page",
              "limit",
              "totalPages",
              "totalResults"
            ]
          }
        },
        "required": [
          "id",
          "mintAddress",
          "status",
          "sellerFeeBasisPoints",
          "name",
          "image",
          "nfts"
        ]
      },
      "GetProjectStatsRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId"
            ]
          }
        },
        "required": [
          "params"
        ]
      },
      "GetProjectStatsResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "description": "Total number of assets in the Project"
          },
          "confirmed": {
            "type": "number",
            "description": "Number of confirmed assets"
          },
          "processing": {
            "type": "number",
            "description": "Number of assets being processed"
          },
          "pending": {
            "type": "number",
            "description": "Number of assets waiting to be processed"
          },
          "burned": {
            "type": "number",
            "description": "Number of burned assets"
          },
          "failed": {
            "type": "number",
            "description": "Number of assets failed"
          }
        },
        "required": [
          "total",
          "confirmed",
          "processing",
          "pending",
          "burned",
          "failed"
        ]
      },
      "UpdateProjectRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId"
            ]
          },
          "body": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 32,
                "description": "Name stored as on-chain metadata",
                "example": "Underdog NFT"
              },
              "symbol": {
                "type": "string",
                "maxLength": 10,
                "description": "Symbol stored as on-chain metadata",
                "example": "UPDG"
              },
              "description": {
                "type": "string",
                "description": "Description stored in the metadata",
                "example": "I minted this NFT with the Underdog API"
              },
              "image": {
                "type": "string",
                "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
                "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
              },
              "animationUrl": {
                "type": "string",
                "description": "URL pointing to the asset's animation.",
                "example": "https://i.imgur.com/mGfz7Ig.mp4"
              },
              "externalUrl": {
                "type": "string",
                "description": "URL pointing to an external URL defining the asset",
                "example": "https://app.underdogprotocol.com"
              },
              "attributes": {
                "type": "object",
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    }
                  ]
                },
                "description": "Key-value pairs of your NFT attributes",
                "example": {
                  "points": 10,
                  "name": "LeBron"
                }
              },
              "sellerFeeBasisPoints": {
                "type": "integer",
                "description": "Creator royalties in basis points - 100 basis points = 1%",
                "example": 100
              }
            },
            "required": [
              "name",
              "image",
              "sellerFeeBasisPoints"
            ]
          }
        },
        "required": [
          "params",
          "body"
        ]
      },
      "UpdateProjectResponse": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "Transaction ID that identifies the Transaction generated by an API request"
          },
          "projectId": {
            "type": "integer"
          },
          "mintAddress": {
            "type": "string",
            "description": "Base-58 encoded string representing an on-chain address",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          }
        },
        "required": [
          "transactionId",
          "projectId",
          "mintAddress"
        ]
      },
      "PartialUpdateProjectRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId"
            ]
          },
          "body": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 32,
                "description": "Name stored as on-chain metadata",
                "example": "Underdog NFT"
              },
              "symbol": {
                "type": "string",
                "maxLength": 10,
                "description": "Symbol stored as on-chain metadata",
                "example": "UPDG"
              },
              "description": {
                "type": "string",
                "description": "Description stored in the metadata",
                "example": "I minted this NFT with the Underdog API"
              },
              "image": {
                "type": "string",
                "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
                "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
              },
              "animationUrl": {
                "type": "string",
                "description": "URL pointing to the asset's animation.",
                "example": "https://i.imgur.com/mGfz7Ig.mp4"
              },
              "externalUrl": {
                "type": "string",
                "description": "URL pointing to an external URL defining the asset",
                "example": "https://app.underdogprotocol.com"
              },
              "attributes": {
                "type": "object",
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    }
                  ]
                },
                "description": "Key-value pairs of your NFT attributes",
                "example": {
                  "points": 10,
                  "name": "LeBron"
                }
              },
              "sellerFeeBasisPoints": {
                "type": "integer",
                "description": "Creator royalties in basis points - 100 basis points = 1%",
                "example": 100
              }
            }
          }
        },
        "required": [
          "params",
          "body"
        ]
      },
      "PartialUpdateProjectResponse": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "Transaction ID that identifies the Transaction generated by an API request"
          },
          "projectId": {
            "type": "integer"
          },
          "mintAddress": {
            "type": "string",
            "description": "Base-58 encoded string representing an on-chain address",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          }
        },
        "required": [
          "transactionId",
          "projectId",
          "mintAddress"
        ]
      },
      "WithdrawProjectRoyaltiesRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId"
            ]
          },
          "body": {
            "type": "object",
            "properties": {
              "receiverAddress": {
                "type": "string",
                "description": "Base-58 encoded string representing an on-chain address",
                "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
              }
            },
            "required": [
              "receiverAddress"
            ]
          }
        },
        "required": [
          "params",
          "body"
        ]
      },
      "WithdrawProjectRoyaltiesResponse": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "Transaction ID that identifies the Transaction generated by an API request"
          },
          "projectId": {
            "type": "integer"
          },
          "mintAddress": {
            "type": "string",
            "description": "Base-58 encoded string representing an on-chain address",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          }
        },
        "required": [
          "transactionId",
          "projectId",
          "mintAddress"
        ]
      },
      "CreateNftRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId"
            ]
          },
          "body": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 32,
                "description": "Name stored as on-chain metadata",
                "example": "Underdog NFT"
              },
              "symbol": {
                "type": "string",
                "maxLength": 10,
                "description": "Symbol stored as on-chain metadata",
                "example": "UPDG"
              },
              "description": {
                "type": "string",
                "description": "Description stored in the metadata",
                "example": "I minted this NFT with the Underdog API"
              },
              "image": {
                "type": "string",
                "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
                "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
              },
              "animationUrl": {
                "type": "string",
                "description": "URL pointing to the asset's animation.",
                "example": "https://i.imgur.com/mGfz7Ig.mp4"
              },
              "externalUrl": {
                "type": "string",
                "description": "URL pointing to an external URL defining the asset",
                "example": "https://app.underdogprotocol.com"
              },
              "attributes": {
                "type": "object",
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    }
                  ]
                },
                "description": "Key-value pairs of your NFT attributes",
                "example": {
                  "points": 10,
                  "name": "LeBron"
                }
              },
              "receiver": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Address that will receive the NFT",
                    "example": "7px1aXrdcySNHEF8aQ12iHBW5a2MVsqQU1ELkTdYAgjN"
                  },
                  "namespace": {
                    "type": "string",
                    "description": "Namespace of the application (e.g. solarplex, superteam)",
                    "example": "public"
                  },
                  "identifier": {
                    "type": "string",
                    "description": "Identifier for the user's Passport (i.e. email, wallet address, twitter handle)",
                    "example": "kevin@underdogprotocol.com"
                  }
                }
              },
              "receiverAddress": {
                "type": "string",
                "description": "Base-58 encoded string representing an on-chain address",
                "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
              },
              "delegated": {
                "type": "boolean",
                "description": "If true, your Project will have delegated authority to transfer or burn the asset"
              }
            },
            "required": [
              "name",
              "image"
            ]
          }
        },
        "required": [
          "params",
          "body"
        ]
      },
      "CreateTransferableNftResponse": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "Transaction ID that identifies the Transaction generated by an API request"
          },
          "nftId": {
            "type": "number",
            "description": "Unique ID for an NFT in a Project"
          },
          "projectId": {
            "type": "number",
            "description": "The ID of the Project the NFT is part of"
          },
          "transferable": {
            "type": "boolean",
            "description": "Whether or not the NFT can be transferred based on the Project its a part of"
          },
          "compressed": {
            "type": "boolean",
            "description": "Whether or not the NFTs in the Project are compressed"
          },
          "mintAddress": {
            "type": "string",
            "description": "Base-58 encoded string representing an on-chain address",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          }
        },
        "required": [
          "transactionId",
          "nftId",
          "mintAddress"
        ]
      },
      "CreateNonTransferableNftResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 32,
            "description": "Name stored as on-chain metadata",
            "example": "Underdog NFT"
          },
          "symbol": {
            "type": "string",
            "maxLength": 10,
            "description": "Symbol stored as on-chain metadata",
            "example": "UPDG"
          },
          "description": {
            "type": "string",
            "description": "Description stored in the metadata",
            "example": "I minted this NFT with the Underdog API"
          },
          "image": {
            "type": "string",
            "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
            "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
          },
          "animationUrl": {
            "type": "string",
            "description": "URL pointing to the asset's animation.",
            "example": "https://i.imgur.com/mGfz7Ig.mp4"
          },
          "externalUrl": {
            "type": "string",
            "description": "URL pointing to an external URL defining the asset",
            "example": "https://app.underdogprotocol.com"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "Key-value pairs of your NFT attributes",
            "example": {
              "points": 10,
              "name": "LeBron"
            }
          },
          "id": {
            "type": "number",
            "description": "Unique ID for an NFT in a Project"
          },
          "projectId": {
            "type": "number",
            "description": "The ID of the Project the NFT is part of"
          },
          "transferable": {
            "type": "boolean",
            "description": "Whether or not the NFT can be transferred based on the Project its a part of"
          },
          "compressed": {
            "type": "boolean",
            "description": "Whether or not the NFTs in the Project are compressed"
          },
          "mintAddress": {
            "type": "string",
            "description": "Base-58 encoded string representing an on-chain address",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          },
          "ownerAddress": {
            "type": "string",
            "description": "Wallet address for the NFT's owner",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          },
          "claimerAddress": {
            "type": "string",
            "description": "Wallet address allowed to claim the NFT",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "image",
          "id",
          "mintAddress",
          "status"
        ]
      },
      "UpsertNftResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "maxLength": 32,
              "description": "Name stored as on-chain metadata",
              "example": "Underdog NFT"
            },
            "symbol": {
              "type": "string",
              "maxLength": 10,
              "description": "Symbol stored as on-chain metadata",
              "example": "UPDG"
            },
            "description": {
              "type": "string",
              "description": "Description stored in the metadata",
              "example": "I minted this NFT with the Underdog API"
            },
            "image": {
              "type": "string",
              "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
              "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
            },
            "animationUrl": {
              "type": "string",
              "description": "URL pointing to the asset's animation.",
              "example": "https://i.imgur.com/mGfz7Ig.mp4"
            },
            "externalUrl": {
              "type": "string",
              "description": "URL pointing to an external URL defining the asset",
              "example": "https://app.underdogprotocol.com"
            },
            "attributes": {
              "type": "object",
              "additionalProperties": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  }
                ]
              },
              "description": "Key-value pairs of your NFT attributes",
              "example": {
                "points": 10,
                "name": "LeBron"
              }
            },
            "id": {
              "type": "number",
              "description": "Unique ID for an NFT in a Project"
            },
            "projectId": {
              "type": "number",
              "description": "The ID of the Project the NFT is part of"
            },
            "transferable": {
              "type": "boolean",
              "description": "Whether or not the NFT can be transferred based on the Project its a part of"
            },
            "compressed": {
              "type": "boolean",
              "description": "Whether or not the NFTs in the Project are compressed"
            },
            "mintAddress": {
              "type": "string",
              "description": "Base-58 encoded string representing an on-chain address",
              "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
            },
            "ownerAddress": {
              "type": "string",
              "description": "Wallet address for the NFT's owner",
              "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
            },
            "claimerAddress": {
              "type": "string",
              "description": "Wallet address allowed to claim the NFT",
              "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
            },
            "status": {
              "type": "string"
            }
          },
          "required": [
            "name",
            "image",
            "id",
            "mintAddress",
            "status"
          ]
        }
      },
      "BatchNftRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId"
            ]
          },
          "body": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 32,
                "description": "Name stored as on-chain metadata",
                "example": "Underdog NFT"
              },
              "symbol": {
                "type": "string",
                "maxLength": 10,
                "description": "Symbol stored as on-chain metadata",
                "example": "UPDG"
              },
              "description": {
                "type": "string",
                "description": "Description stored in the metadata",
                "example": "I minted this NFT with the Underdog API"
              },
              "image": {
                "type": "string",
                "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
                "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
              },
              "animationUrl": {
                "type": "string",
                "description": "URL pointing to the asset's animation.",
                "example": "https://i.imgur.com/mGfz7Ig.mp4"
              },
              "externalUrl": {
                "type": "string",
                "description": "URL pointing to an external URL defining the asset",
                "example": "https://app.underdogprotocol.com"
              },
              "attributes": {
                "type": "object",
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    }
                  ]
                },
                "description": "Key-value pairs of your NFT attributes",
                "example": {
                  "points": 10,
                  "name": "LeBron"
                }
              },
              "receiver": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Address that will receive the NFT",
                    "example": "7px1aXrdcySNHEF8aQ12iHBW5a2MVsqQU1ELkTdYAgjN"
                  },
                  "namespace": {
                    "type": "string",
                    "description": "Namespace of the application (e.g. solarplex, superteam)",
                    "example": "public"
                  },
                  "identifier": {
                    "type": "string",
                    "description": "Identifier for the user's Passport (i.e. email, wallet address, twitter handle)",
                    "example": "kevin@underdogprotocol.com"
                  }
                }
              },
              "receiverAddress": {
                "type": "string",
                "description": "Base-58 encoded string representing an on-chain address",
                "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
              },
              "delegated": {
                "type": "boolean",
                "description": "If true, your Project will have delegated authority to transfer or burn the asset"
              },
              "batch": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "maxLength": 32,
                      "description": "Name stored as on-chain metadata",
                      "example": "Underdog NFT"
                    },
                    "symbol": {
                      "type": "string",
                      "maxLength": 10,
                      "description": "Symbol stored as on-chain metadata",
                      "example": "UPDG"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description stored in the metadata",
                      "example": "I minted this NFT with the Underdog API"
                    },
                    "image": {
                      "type": "string",
                      "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
                      "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
                    },
                    "animationUrl": {
                      "type": "string",
                      "description": "URL pointing to the asset's animation.",
                      "example": "https://i.imgur.com/mGfz7Ig.mp4"
                    },
                    "externalUrl": {
                      "type": "string",
                      "description": "URL pointing to an external URL defining the asset",
                      "example": "https://app.underdogprotocol.com"
                    },
                    "attributes": {
                      "type": "object",
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ]
                      },
                      "description": "Key-value pairs of your NFT attributes",
                      "example": {
                        "points": 10,
                        "name": "LeBron"
                      }
                    },
                    "receiver": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "string",
                          "description": "Address that will receive the NFT",
                          "example": "7px1aXrdcySNHEF8aQ12iHBW5a2MVsqQU1ELkTdYAgjN"
                        },
                        "namespace": {
                          "type": "string",
                          "description": "Namespace of the application (e.g. solarplex, superteam)",
                          "example": "public"
                        },
                        "identifier": {
                          "type": "string",
                          "description": "Identifier for the user's Passport (i.e. email, wallet address, twitter handle)",
                          "example": "kevin@underdogprotocol.com"
                        }
                      }
                    },
                    "receiverAddress": {
                      "type": "string",
                      "description": "Base-58 encoded string representing an on-chain address",
                      "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
                    },
                    "delegated": {
                      "type": "boolean",
                      "description": "If true, your Project will have delegated authority to transfer or burn the asset"
                    }
                  }
                }
              }
            },
            "required": [
              "name",
              "image",
              "batch"
            ]
          }
        },
        "required": [
          "params",
          "body"
        ]
      },
      "BatchNftResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "transactionId": {
              "type": "string",
              "description": "Transaction ID that identifies the Transaction generated by an API request"
            },
            "nftId": {
              "type": "number",
              "description": "Unique ID for an NFT in a Project"
            },
            "projectId": {
              "type": "number",
              "description": "The ID of the Project the NFT is part of"
            },
            "transferable": {
              "type": "boolean",
              "description": "Whether or not the NFT can be transferred based on the Project its a part of"
            },
            "compressed": {
              "type": "boolean",
              "description": "Whether or not the NFTs in the Project are compressed"
            }
          },
          "required": [
            "transactionId",
            "nftId"
          ]
        }
      },
      "GetNftRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              },
              "nftId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId",
              "nftId"
            ]
          }
        },
        "required": [
          "params"
        ]
      },
      "GetNftResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 32,
            "description": "Name stored as on-chain metadata",
            "example": "Underdog NFT"
          },
          "symbol": {
            "type": "string",
            "maxLength": 10,
            "description": "Symbol stored as on-chain metadata",
            "example": "UPDG"
          },
          "description": {
            "type": "string",
            "description": "Description stored in the metadata",
            "example": "I minted this NFT with the Underdog API"
          },
          "image": {
            "type": "string",
            "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
            "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
          },
          "animationUrl": {
            "type": "string",
            "description": "URL pointing to the asset's animation.",
            "example": "https://i.imgur.com/mGfz7Ig.mp4"
          },
          "externalUrl": {
            "type": "string",
            "description": "URL pointing to an external URL defining the asset",
            "example": "https://app.underdogprotocol.com"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "Key-value pairs of your NFT attributes",
            "example": {
              "points": 10,
              "name": "LeBron"
            }
          },
          "id": {
            "type": "number",
            "description": "Unique ID for an NFT in a Project"
          },
          "projectId": {
            "type": "number",
            "description": "The ID of the Project the NFT is part of"
          },
          "transferable": {
            "type": "boolean",
            "description": "Whether or not the NFT can be transferred based on the Project its a part of"
          },
          "compressed": {
            "type": "boolean",
            "description": "Whether or not the NFTs in the Project are compressed"
          },
          "mintAddress": {
            "type": "string",
            "description": "Base-58 encoded string representing an on-chain address",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          },
          "ownerAddress": {
            "type": "string",
            "description": "Wallet address for the NFT's owner",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          },
          "claimerAddress": {
            "type": "string",
            "description": "Wallet address allowed to claim the NFT",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "image",
          "id",
          "mintAddress",
          "status"
        ]
      },
      "GetNftByMintAddressRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "mintAddress": {
                "type": "string",
                "description": "Base-58 encoded string representing an on-chain address",
                "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
              }
            },
            "required": [
              "mintAddress"
            ]
          }
        },
        "required": [
          "params"
        ]
      },
      "GetNftByMintAddressResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 32,
            "description": "Name stored as on-chain metadata",
            "example": "Underdog NFT"
          },
          "symbol": {
            "type": "string",
            "maxLength": 10,
            "description": "Symbol stored as on-chain metadata",
            "example": "UPDG"
          },
          "description": {
            "type": "string",
            "description": "Description stored in the metadata",
            "example": "I minted this NFT with the Underdog API"
          },
          "image": {
            "type": "string",
            "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
            "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
          },
          "animationUrl": {
            "type": "string",
            "description": "URL pointing to the asset's animation.",
            "example": "https://i.imgur.com/mGfz7Ig.mp4"
          },
          "externalUrl": {
            "type": "string",
            "description": "URL pointing to an external URL defining the asset",
            "example": "https://app.underdogprotocol.com"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "Key-value pairs of your NFT attributes",
            "example": {
              "points": 10,
              "name": "LeBron"
            }
          },
          "transferable": {
            "type": "boolean",
            "description": "Whether or not the NFT can be transferred based on the Project its a part of"
          },
          "compressed": {
            "type": "boolean",
            "description": "Whether or not the NFTs in the Project are compressed"
          },
          "mintAddress": {
            "type": "string",
            "description": "Base-58 encoded string representing an on-chain address",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          },
          "ownerAddress": {
            "type": "string",
            "description": "Wallet address for the NFT's owner",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          },
          "claimerAddress": {
            "type": "string",
            "description": "Wallet address allowed to claim the NFT",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "image",
          "mintAddress",
          "status"
        ]
      },
      "GetNftsRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId"
            ]
          },
          "query": {
            "type": "object",
            "properties": {
              "page": {
                "type": "number",
                "nullable": true,
                "default": 1,
                "description": "Page number"
              },
              "limit": {
                "type": "number",
                "nullable": true,
                "maximum": 100,
                "default": 10,
                "description": "Items per page"
              },
              "sortBy": {
                "type": "string"
              },
              "order": {
                "type": "string",
                "enum": [
                  "asc",
                  "desc"
                ]
              },
              "ownerAddress": {
                "type": "string",
                "description": "Base-58 encoded string representing an on-chain address",
                "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
              },
              "identifier": {
                "type": "string"
              },
              "namespace": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "params",
          "query"
        ]
      },
      "GetNftsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "maxLength": 32,
                  "description": "Name stored as on-chain metadata",
                  "example": "Underdog NFT"
                },
                "symbol": {
                  "type": "string",
                  "maxLength": 10,
                  "description": "Symbol stored as on-chain metadata",
                  "example": "UPDG"
                },
                "description": {
                  "type": "string",
                  "description": "Description stored in the metadata",
                  "example": "I minted this NFT with the Underdog API"
                },
                "image": {
                  "type": "string",
                  "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
                  "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
                },
                "animationUrl": {
                  "type": "string",
                  "description": "URL pointing to the asset's animation.",
                  "example": "https://i.imgur.com/mGfz7Ig.mp4"
                },
                "externalUrl": {
                  "type": "string",
                  "description": "URL pointing to an external URL defining the asset",
                  "example": "https://app.underdogprotocol.com"
                },
                "attributes": {
                  "type": "object",
                  "additionalProperties": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ]
                  },
                  "description": "Key-value pairs of your NFT attributes",
                  "example": {
                    "points": 10,
                    "name": "LeBron"
                  }
                },
                "id": {
                  "type": "number",
                  "description": "Unique ID for an NFT in a Project"
                },
                "projectId": {
                  "type": "number",
                  "description": "The ID of the Project the NFT is part of"
                },
                "transferable": {
                  "type": "boolean",
                  "description": "Whether or not the NFT can be transferred based on the Project its a part of"
                },
                "compressed": {
                  "type": "boolean",
                  "description": "Whether or not the NFTs in the Project are compressed"
                },
                "mintAddress": {
                  "type": "string",
                  "description": "Base-58 encoded string representing an on-chain address",
                  "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
                },
                "ownerAddress": {
                  "type": "string",
                  "description": "Wallet address for the NFT's owner",
                  "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
                },
                "claimerAddress": {
                  "type": "string",
                  "description": "Wallet address allowed to claim the NFT",
                  "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
                },
                "status": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "image",
                "id",
                "mintAddress",
                "status"
              ]
            }
          },
          "page": {
            "type": "number",
            "description": "Page number",
            "example": 1
          },
          "limit": {
            "type": "number",
            "description": "Number per page",
            "example": 10
          },
          "totalPages": {
            "type": "number",
            "description": "Total number of pages",
            "example": 1
          },
          "totalResults": {
            "type": "number",
            "description": "Total number of results",
            "example": 1
          }
        },
        "required": [
          "results",
          "page",
          "limit",
          "totalPages",
          "totalResults"
        ]
      },
      "SearchNftsRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId"
            ]
          },
          "query": {
            "type": "object",
            "properties": {
              "page": {
                "type": "number",
                "nullable": true,
                "default": 1,
                "description": "Page number"
              },
              "limit": {
                "type": "number",
                "nullable": true,
                "maximum": 100,
                "default": 10,
                "description": "Items per page"
              },
              "sortBy": {
                "type": "string"
              },
              "order": {
                "type": "string",
                "enum": [
                  "asc",
                  "desc"
                ]
              },
              "search": {
                "type": "string"
              },
              "query": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "params",
          "query"
        ]
      },
      "SearchNftsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "maxLength": 32,
                  "description": "Name stored as on-chain metadata",
                  "example": "Underdog NFT"
                },
                "symbol": {
                  "type": "string",
                  "maxLength": 10,
                  "description": "Symbol stored as on-chain metadata",
                  "example": "UPDG"
                },
                "description": {
                  "type": "string",
                  "description": "Description stored in the metadata",
                  "example": "I minted this NFT with the Underdog API"
                },
                "image": {
                  "type": "string",
                  "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
                  "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
                },
                "animationUrl": {
                  "type": "string",
                  "description": "URL pointing to the asset's animation.",
                  "example": "https://i.imgur.com/mGfz7Ig.mp4"
                },
                "externalUrl": {
                  "type": "string",
                  "description": "URL pointing to an external URL defining the asset",
                  "example": "https://app.underdogprotocol.com"
                },
                "attributes": {
                  "type": "object",
                  "additionalProperties": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ]
                  },
                  "description": "Key-value pairs of your NFT attributes",
                  "example": {
                    "points": 10,
                    "name": "LeBron"
                  }
                },
                "id": {
                  "type": "number",
                  "description": "Unique ID for an NFT in a Project"
                },
                "projectId": {
                  "type": "number",
                  "description": "The ID of the Project the NFT is part of"
                },
                "transferable": {
                  "type": "boolean",
                  "description": "Whether or not the NFT can be transferred based on the Project its a part of"
                },
                "compressed": {
                  "type": "boolean",
                  "description": "Whether or not the NFTs in the Project are compressed"
                },
                "mintAddress": {
                  "type": "string",
                  "description": "Base-58 encoded string representing an on-chain address",
                  "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
                },
                "ownerAddress": {
                  "type": "string",
                  "description": "Wallet address for the NFT's owner",
                  "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
                },
                "claimerAddress": {
                  "type": "string",
                  "description": "Wallet address allowed to claim the NFT",
                  "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
                },
                "status": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "image",
                "id",
                "mintAddress",
                "status"
              ]
            }
          },
          "page": {
            "type": "number",
            "description": "Page number",
            "example": 1
          },
          "limit": {
            "type": "number",
            "description": "Number per page",
            "example": 10
          },
          "totalPages": {
            "type": "number",
            "description": "Total number of pages",
            "example": 1
          },
          "totalResults": {
            "type": "number",
            "description": "Total number of results",
            "example": 1
          }
        },
        "required": [
          "results",
          "page",
          "limit",
          "totalPages",
          "totalResults"
        ]
      },
      "UpdateNftRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              },
              "nftId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId",
              "nftId"
            ]
          },
          "body": {
            "type": "object",
            "properties": {
              "description": {
                "type": "string",
                "description": "Description stored in the metadata",
                "example": "I minted this NFT with the Underdog API"
              },
              "image": {
                "type": "string",
                "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
                "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
              },
              "attributes": {
                "type": "object",
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    }
                  ]
                },
                "description": "Key-value pairs of your NFT attributes",
                "example": {
                  "points": 10,
                  "name": "LeBron"
                }
              },
              "animationUrl": {
                "type": "string",
                "description": "URL pointing to the asset's animation.",
                "example": "https://i.imgur.com/mGfz7Ig.mp4"
              },
              "externalUrl": {
                "type": "string",
                "description": "URL pointing to an external URL defining the asset",
                "example": "https://app.underdogprotocol.com"
              }
            },
            "required": [
              "image"
            ]
          }
        },
        "required": [
          "params",
          "body"
        ]
      },
      "UpdateNftResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 32,
            "description": "Name stored as on-chain metadata",
            "example": "Underdog NFT"
          },
          "symbol": {
            "type": "string",
            "maxLength": 10,
            "description": "Symbol stored as on-chain metadata",
            "example": "UPDG"
          },
          "description": {
            "type": "string",
            "description": "Description stored in the metadata",
            "example": "I minted this NFT with the Underdog API"
          },
          "image": {
            "type": "string",
            "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
            "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
          },
          "animationUrl": {
            "type": "string",
            "description": "URL pointing to the asset's animation.",
            "example": "https://i.imgur.com/mGfz7Ig.mp4"
          },
          "externalUrl": {
            "type": "string",
            "description": "URL pointing to an external URL defining the asset",
            "example": "https://app.underdogprotocol.com"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "Key-value pairs of your NFT attributes",
            "example": {
              "points": 10,
              "name": "LeBron"
            }
          },
          "id": {
            "type": "number",
            "description": "Unique ID for an NFT in a Project"
          },
          "projectId": {
            "type": "number",
            "description": "The ID of the Project the NFT is part of"
          },
          "transferable": {
            "type": "boolean",
            "description": "Whether or not the NFT can be transferred based on the Project its a part of"
          },
          "compressed": {
            "type": "boolean",
            "description": "Whether or not the NFTs in the Project are compressed"
          },
          "mintAddress": {
            "type": "string",
            "description": "Base-58 encoded string representing an on-chain address",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          },
          "ownerAddress": {
            "type": "string",
            "description": "Wallet address for the NFT's owner",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          },
          "claimerAddress": {
            "type": "string",
            "description": "Wallet address allowed to claim the NFT",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "image",
          "id",
          "mintAddress",
          "status"
        ]
      },
      "PartialUpdateNftRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              },
              "nftId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId",
              "nftId"
            ]
          },
          "body": {
            "type": "object",
            "properties": {
              "description": {
                "type": "string",
                "description": "Description stored in the metadata",
                "example": "I minted this NFT with the Underdog API"
              },
              "image": {
                "type": "string",
                "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
                "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
              },
              "attributes": {
                "type": "object",
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    }
                  ]
                },
                "description": "Key-value pairs of your NFT attributes",
                "example": {
                  "points": 10,
                  "name": "LeBron"
                }
              },
              "animationUrl": {
                "type": "string",
                "description": "URL pointing to the asset's animation.",
                "example": "https://i.imgur.com/mGfz7Ig.mp4"
              },
              "externalUrl": {
                "type": "string",
                "description": "URL pointing to an external URL defining the asset",
                "example": "https://app.underdogprotocol.com"
              }
            }
          }
        },
        "required": [
          "params",
          "body"
        ]
      },
      "PartialUpdateNftResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 32,
            "description": "Name stored as on-chain metadata",
            "example": "Underdog NFT"
          },
          "symbol": {
            "type": "string",
            "maxLength": 10,
            "description": "Symbol stored as on-chain metadata",
            "example": "UPDG"
          },
          "description": {
            "type": "string",
            "description": "Description stored in the metadata",
            "example": "I minted this NFT with the Underdog API"
          },
          "image": {
            "type": "string",
            "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
            "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
          },
          "animationUrl": {
            "type": "string",
            "description": "URL pointing to the asset's animation.",
            "example": "https://i.imgur.com/mGfz7Ig.mp4"
          },
          "externalUrl": {
            "type": "string",
            "description": "URL pointing to an external URL defining the asset",
            "example": "https://app.underdogprotocol.com"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "Key-value pairs of your NFT attributes",
            "example": {
              "points": 10,
              "name": "LeBron"
            }
          },
          "id": {
            "type": "number",
            "description": "Unique ID for an NFT in a Project"
          },
          "projectId": {
            "type": "number",
            "description": "The ID of the Project the NFT is part of"
          },
          "transferable": {
            "type": "boolean",
            "description": "Whether or not the NFT can be transferred based on the Project its a part of"
          },
          "compressed": {
            "type": "boolean",
            "description": "Whether or not the NFTs in the Project are compressed"
          },
          "mintAddress": {
            "type": "string",
            "description": "Base-58 encoded string representing an on-chain address",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          },
          "ownerAddress": {
            "type": "string",
            "description": "Wallet address for the NFT's owner",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          },
          "claimerAddress": {
            "type": "string",
            "description": "Wallet address allowed to claim the NFT",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "image",
          "id",
          "mintAddress",
          "status"
        ]
      },
      "GetNftClaimLinkRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              },
              "nftId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId",
              "nftId"
            ]
          }
        },
        "required": [
          "params"
        ]
      },
      "GetNftClaimLinkResponse": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string"
          },
          "mintAddress": {
            "type": "string"
          },
          "claimerAddress": {
            "type": "string",
            "description": "Base-58 encoded string representing an on-chain address",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          },
          "otp": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "link",
          "mintAddress"
        ]
      },
      "RevokeNftRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              },
              "nftId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId",
              "nftId"
            ]
          }
        },
        "required": [
          "params"
        ]
      },
      "RevokeNftResponse": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "Transaction ID that identifies the Transaction generated by an API request"
          },
          "nftId": {
            "type": "number",
            "description": "Unique ID for an NFT in a Project"
          },
          "projectId": {
            "type": "number",
            "description": "The ID of the Project the NFT is part of"
          },
          "transferable": {
            "type": "boolean",
            "description": "Whether or not the NFT can be transferred based on the Project its a part of"
          },
          "compressed": {
            "type": "boolean",
            "description": "Whether or not the NFTs in the Project are compressed"
          },
          "mintAddress": {
            "type": "string",
            "description": "Base-58 encoded string representing an on-chain address",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          }
        },
        "required": [
          "transactionId",
          "nftId",
          "mintAddress"
        ]
      },
      "BurnNftRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              },
              "nftId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId",
              "nftId"
            ]
          }
        },
        "required": [
          "params"
        ]
      },
      "BurnNftResponse": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "Transaction ID that identifies the Transaction generated by an API request"
          },
          "nftId": {
            "type": "number",
            "description": "Unique ID for an NFT in a Project"
          },
          "projectId": {
            "type": "number",
            "description": "The ID of the Project the NFT is part of"
          },
          "transferable": {
            "type": "boolean",
            "description": "Whether or not the NFT can be transferred based on the Project its a part of"
          },
          "compressed": {
            "type": "boolean",
            "description": "Whether or not the NFTs in the Project are compressed"
          },
          "mintAddress": {
            "type": "string",
            "description": "Base-58 encoded string representing an on-chain address",
            "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
          }
        },
        "required": [
          "transactionId",
          "nftId",
          "mintAddress"
        ]
      },
      "CreateSftRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId"
            ]
          },
          "body": {
            "type": "object",
            "properties": {
              "receiver": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Address that will receive the NFT",
                    "example": "7px1aXrdcySNHEF8aQ12iHBW5a2MVsqQU1ELkTdYAgjN"
                  },
                  "namespace": {
                    "type": "string",
                    "description": "Namespace of the application (e.g. solarplex, superteam)",
                    "example": "public"
                  },
                  "identifier": {
                    "type": "string",
                    "description": "Identifier for the user's Passport (i.e. email, wallet address, twitter handle)",
                    "example": "kevin@underdogprotocol.com"
                  }
                }
              },
              "receiverAddress": {
                "type": "string",
                "description": "Base-58 encoded string representing an on-chain address",
                "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
              },
              "delegated": {
                "type": "boolean",
                "description": "If true, your Project will have delegated authority to transfer or burn the asset"
              }
            }
          }
        },
        "required": [
          "params",
          "body"
        ]
      },
      "CreateSftResponse": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "Transaction ID that identifies the Transaction generated by an API request"
          },
          "nftId": {
            "type": "number",
            "description": "Unique ID for an NFT in a Project"
          },
          "projectId": {
            "type": "number",
            "description": "The ID of the Project the NFT is part of"
          }
        },
        "required": [
          "transactionId",
          "nftId"
        ]
      },
      "BatchSftRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId"
            ]
          },
          "body": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "receiver": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "Address that will receive the NFT",
                      "example": "7px1aXrdcySNHEF8aQ12iHBW5a2MVsqQU1ELkTdYAgjN"
                    },
                    "namespace": {
                      "type": "string",
                      "description": "Namespace of the application (e.g. solarplex, superteam)",
                      "example": "public"
                    },
                    "identifier": {
                      "type": "string",
                      "description": "Identifier for the user's Passport (i.e. email, wallet address, twitter handle)",
                      "example": "kevin@underdogprotocol.com"
                    }
                  }
                },
                "receiverAddress": {
                  "type": "string",
                  "description": "Base-58 encoded string representing an on-chain address",
                  "example": "dustFPTV7dujoJjgkKtf6is3bYaFEy1nswS23vxHfvt"
                },
                "delegated": {
                  "type": "boolean",
                  "description": "If true, your Project will have delegated authority to transfer or burn the asset"
                }
              }
            }
          }
        },
        "required": [
          "params",
          "body"
        ]
      },
      "BatchSftResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "transactionId": {
              "type": "string",
              "description": "Transaction ID that identifies the Transaction generated by an API request"
            },
            "nftId": {
              "type": "number",
              "description": "Unique ID for an NFT in a Project"
            },
            "projectId": {
              "type": "number",
              "description": "The ID of the Project the NFT is part of"
            }
          },
          "required": [
            "transactionId",
            "nftId"
          ]
        }
      },
      "GetSftsRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId"
            ]
          },
          "query": {
            "type": "object",
            "properties": {
              "page": {
                "type": "number",
                "nullable": true,
                "default": 1,
                "description": "Page number"
              },
              "limit": {
                "type": "number",
                "nullable": true,
                "maximum": 100,
                "default": 10,
                "description": "Items per page"
              }
            }
          }
        },
        "required": [
          "params",
          "query"
        ]
      },
      "UpdateAssetRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer"
              },
              "nftId": {
                "type": "integer"
              }
            },
            "required": [
              "projectId",
              "nftId"
            ]
          },
          "body": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 32,
                "description": "Name stored as on-chain metadata",
                "example": "Underdog NFT"
              },
              "symbol": {
                "type": "string",
                "maxLength": 10,
                "description": "Symbol stored as on-chain metadata",
                "example": "UPDG"
              },
              "description": {
                "type": "string",
                "description": "Description stored in the metadata",
                "example": "I minted this NFT with the Underdog API"
              },
              "image": {
                "type": "string",
                "description": "Image for your NFT. When creating an NFT, this can be a base64 encoded string or a URL pointing to an image.",
                "example": "https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"
              },
              "animationUrl": {
                "type": "string",
                "description": "URL pointing to the asset's animation.",
[...]
